main - Copy.cpp
micromachines-14-00501-g003-550.jpg
NoC-router-architecture.png
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/graph.vcd
build/Makefile
build/NoC-Pin-Accurate-Performance-Model
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ddb7551289f43b647f6a.json
build/.cmake/api/v1/reply/cmakeFiles-v1-d1077fc9696cd870eef7.json
build/.cmake/api/v1/reply/codemodel-v2-c7aae61c5decaa91eaa9.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2025-09-07T06-19-34-0934.json
build/.cmake/api/v1/reply/target-NoC-Pin-Accurate-Performance-Model-Debug-8c16594fbc2e28f8170e.json
build/.cmake/api/v1/reply/toolchains-v1-de13eb4a293a7f94668f.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.3/CMakeSystem.cmake
build/CMakeFiles/3.28.3/CompilerIdC/a.out
build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/arbiter.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/arbiter.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/buf_fifo.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/buf_fifo.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/build.make
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/cmake_clean.cmake
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/compiler_depend.internal
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/compiler_depend.make
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/compiler_depend.ts
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/crossbar.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/crossbar.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/depend.make
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/DependInfo.cmake
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/flags.make
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/link.txt
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/main.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/main.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/progress.make
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/router.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/router.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/sink.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/sink.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/source.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/source.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/arbiter.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/arbiter.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/buf_fifo.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/buf_fifo.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/crossbar.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/crossbar.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/router.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/router.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/sink.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/sink.cpp.o.d
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/source.cpp.o
build/CMakeFiles/NoC-Pin-Accurate-Performance-Model.dir/src/source.cpp.o.d
